.Meaning h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.Meaning .definition {
  font-size: 1.2rem;
  font-weight: 600;
}
.Meaning .example {
  font-style: italic;
  quotes: "'" "'";
  margin-top: 15px;
}
.Meaning .paragraph {
  padding: 10px;
}
