.Synonyms {
  margin: 20px 0 0;
}
.Synonyms li {
  display: inline;
  margin-right: 15px;
  font-weight: 600;
  color: #283149;
  opacity: 0.7;
  border: 1px dashed #283149;
  padding: 4px 8px;
  border-radius: 16px;
}
